<article id='leads'>
	<h1>Leads</h1>
	<ul>
		{{#each lead in model}}
			<li>
				{{#link-to "lead" lead.id}}
					{{lead.fullName}}
				{{/link-to}}
			</li>
		{{/each}}
	</ul>
</article>

{{outlet}}


